{% extends 'front/base.html.twig'%}

{% block main %}
    <p>Resultat de votre recherche {{ word }}</p>
    <article>
        {% for book in books %}
            <div class="container">
                <h2>{{ book.title }}</h2>
                <div><img src="http://placehold.it/75x120" class="resp"></div>
                <p>{{ book.author }}</p>
                <p>{{ book.resume }}</p>
                <p>{{ book.nbpages }}</p>
            </div>
        {% endfor %}
    </article>
{% endblock %}