{% extends 'base.html.twig'%}

{% block main %}
    <article>
        {% for auteur in auteurs %}
            <div class="container">
                <h2>{{ auteur.name }}</h2>
                <h2>{{ auteur.firstname }}</h2>
                <div>{{ auteur.birthDate | date("d/m/Y") }}</div>
                <p>{{ auteur.deathDate | date("d/m/Y") }}</p>
                <p>{{ auteur.biography }}</p>
                <div>
                    <div class="btn-main"><a href="{{ path('show_auteur', {'id': auteur.id}) }}">Voir le l'auteur</a></div>
                    <div class="btn-main"><a href="{{ path('delete_auteur', {'id': auteur.id}) }}">supprimer l'auteur</a></div>
                </div>
            </div>
        {% endfor %}
    </article>
{% endblock %}