{% extends 'base.html.twig' %}

{% block main %}
    <div class="form-container">
        {{ form_start(formAuteur) }}
        <div>
            <label>entrer le nom de l'auteur</label><br>
            {{ form_widget(formAuteur.name, {'attr': {'placeholder': 'titre du livre'}}) }}
        </div>
        <div>
            <label>Enter le prenom de l'auteur</label><br>
            {{ form_widget(formAuteur.firstname, {'attr': {'placeholder': 'nom de l\'auteur'}}) }}
        </div>
        <div>
            <label>entrer  sa dates de naissance </label><br>
            {{ form_widget(formAuteur.birthDate, {'attr': {'placeholder': 'description du livre'}}) }}
        </div>
        <div>
            <label>entrer la dates de sa mort</label><br>
            {{ form_widget(formAuteur.deathDate, {'attr': {'placeholder': 'nombre de page'}}) }}
        </div>
        <div>
            <label>entrer sa biographie</label><br>
            {{ form_widget(formAuteur.biography, {'attr': {'placeholder': 'nombre de page'}}) }}
        </div>
        <div>
            <button type="submit">Ajouter l'auteur</button>
        </div>
        {{ form_end(formAuteur) }}
    </div>
{% endblock %}