{% extends 'admin/base.html.twig' %}

{% block main %}
        <div class="form-container">
            {{ form_start(formBook) }}
                <div>
                    <label>entrer le titre du livre</label><br>
                    {{ form_widget(formBook.title, {'attr': {'placeholder': 'titre du livre'}}) }}
                </div>
                <div>
                    <label>entrer la description du livre</label><br>
                    {{ form_widget(formBook.resume, {'attr': {'placeholder': 'description du livre'}}) }}
                </div>
                <div>
                    <label>Renseigner le nombre de pages</label><br>
                    {{ form_widget(formBook.nbpages, {'attr': {'placeholder': 'nombre de page'}}) }}
                </div>
                <div>
                    <button type="submit">Ajouter le livre</button>
                </div>
            {{ form_end(formBook) }}
        </div>
{% endblock %}